<!DOCTYPE html>
<html>
<head>
    <title>RFID Live Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

<h1>📡 RFID Live Attendance</h1>

<a href="/logout">
    <button class="logout-btn">Logout</button>
</a>

<table>
    <thead>
        <tr>
            <th>Student</th>
            <th>Tag ID</th>
            <th>Grade</th>
            <th>Scan Time</th>
        </tr>
    </thead>
    <tbody id="scanTable"></tbody>
</table>

</div>

<script>
function loadScans() {
    fetch('/api/scans')
        .then(response => response.json())
        .then(data => {
            const table = document.getElementById("scanTable");
            table.innerHTML = "";

            data.forEach(scan => {
                table.innerHTML += `
                    <tr>
                        <td>${scan.student_name}</td>
                        <td>${scan.tag_id}</td>
                        <td>${scan.grade}</td>
                        <td>${scan.scan_time}</td>
                    </tr>
                `;
            });
        });
}

function autoSimulate() {
    fetch('/auto_simulate');
}

setInterval(loadScans, 2000);
setInterval(autoSimulate, 5000);

loadScans();
</script>

</body>
</html>
