<!DOCTYPE html>
<html>
<head>
    <title>Edit Transaction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="center-container">

<div class="card">
    <h2>Edit Transaction</h2>

<form method="POST">
    <input type="date" name="travel_date" value="{{ log.travel_date }}" required>
    <input type="text" name="department" value="{{ log.department }}" required>
    <select name="rfid_type" required>
    <option value="Autosweep" {% if log.rfid_type == "Autosweep" %}selected{% endif %}>Autosweep</option>
    <option value="Easytrip" {% if log.rfid_type == "Easytrip" %}selected{% endif %}>Easytrip</option>
</select>

<select name="vehicle_type" required>
    <option value="Sedan" {% if log.vehicle_type == "Sedan" %}selected{% endif %}>Sedan</option>
    <option value="SUV" {% if log.vehicle_type == "SUV" %}selected{% endif %}>SUV</option>
    <option value="Hatchback" {% if log.vehicle_type == "Hatchback" %}selected{% endif %}>Hatchback</option>
    <option value="Van" {% if log.vehicle_type == "Van" %}selected{% endif %}>Van</option>
    <option value="Pickup" {% if log.vehicle_type == "Pickup" %}selected{% endif %}>Pickup</option>
    <option value="Truck" {% if log.vehicle_type == "Truck" %}selected{% endif %}>Truck</option>
    <option value="Motorcycle" {% if log.vehicle_type == "Motorcycle" %}selected{% endif %}>Motorcycle</option>
</select>

    <input type="text" name="plate_number" value="{{ log.plate_number }}" required>
    <input type="text" name="driver" value="{{ log.driver }}" required>
    <input type="text" name="from_location" value="{{ log.from_location }}" required>
    <input type="text" name="to_location" value="{{ log.to_location }}" required>
    <input type="text" name="rfid_location" value="{{ log.rfid_location }}" required>
    <input type="number" step="0.01" name="amount" value="{{ log.amount }}" required>

    <button type="submit">Update</button>
</form>

</div>

</body>
</html>
