<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="login-body">

<div class="login-wrapper">

    <div class="login-left"></div>

    <div class="login-right">
        <h1 style="margin-top:-200px; margin-bottom:150px">Forgot Password</h1>
        <h2>Username</h2>

        <form method="POST">
            
            <input type="text" name="username" placeholder="Enter Username" required>

            <button type="submit" class="Recover-btn">Recover</button>
        </form>

        {% if message %}
            <p style="color:white; margin-top:50px; margin-bottom:-50px;">{{ message }}</p>
        {% endif %}

        <a href="{{ url_for('login') }}" class="BackToLogin-link">Back to Login</a>

    </div>

</div>

</body>
</html>
